/* Navbar CSS */
.nav-transparent{
    opacity: 0.5;
    background-color: #ffffff;
}
/* Jumbotron CSS */
.jumbotron-banner{
    min-height: 100vh;
    background-size: cover;
    padding-top: 57px;
    margin-bottom: 0px;
    background-attachment: fixed;
}

.jumbotron-transition{
    max-height:50vh;
    width:100%;
    margin-top: 0px;
    padding-top:0px;
    margin-bottom: 0px;
    padding-bottom:0px;
}
/* Main Section CSS */
.main-banner-image{
    background-image: url("../assets/UPennBanner_Blur_Medium.jpg");
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.introduce-row{
    background-color: #ffffff;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    opacity: .75;
}

.introduce-title{
    color: #22313F !important;
    text-align: left;
}

.introduce-text{
    color: #67809F !important;
    text-shadow: -1px 0 black !important;
    text-align: left;
}

.social-bar{
    display: block;
}

.introduce-text a{
    color: #3498db;
}
/* Video Card Section */
.video-row{
    display: flex;
    flex-direction:row;
}
.video-row div{
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.jumbotron-video-cards{

}